/* Universal styling */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Colors */

:root {
	/* Text */
	--clr-vDark-desaturated-blue: hsl(238, 29%, 16%);
	--clr-soft-red: hsl(14, 88%, 65%);
	--clr-vDark-grayish-blue: hsl(237, 12%, 33%);
	--clr-dark-grayish-blue: hsl(240, 6%, 50%);
	/* Gradient bg */
	--clr-soft-violet: hsl(273, 75%, 66%);
	--clr-soft-blue: hsl(240, 73%, 65%);
	/* Divide line */
	--clr-light-grayish-blue: hsl(240, 5%, 91%);
}

/* General styling */

html {
	font-size: 62.5%;
}

body {
	font-size: 1.3rem;
	font-family: "Kumbh Sans", sans-serif;
	font-weight: 400;
}

/* Containers */

.container {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(hsl(273, 75%, 66%) 25%, hsl(240, 73%, 65%));
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container {
	width: 85%;
	padding: 1rem 2.3rem;
	background: white;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Images */

.woman {
	width: 23rem;
	position: relative;
	z-index: 1;
	top: -11.5rem;
	left: 50%;
	translate: -50%;
	margin-bottom: -10rem;
}

.img-shadow {
	width: 23.5rem;
	position: relative;
	left: 50%;
	translate: -50%;
	top: -30rem;
	margin-bottom: -30rem;
}

/* Content */

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

h1 {
	text-align: center;
	margin-top: 3rem;
	font-weight: 700;
	color: var(--clr-vDark-desaturated-blue);
}

.question {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

h2 {
	font-size: inherit;
	font-weight: inherit;
	text-align: left;
	color: var(--clr-vDark-grayish-blue);
}

p {
	text-align: left;
	margin-bottom: 2.5rem;
	color: var(--clr-dark-grayish-blue);
	display: none;
}

hr {
	color: var(--clr-light-grayish-blue);
	height: 1px;
	border: 0;
	background: var(--clr-light-grayish-blue);
	margin-bottom: 2rem;
}

.last-line {
	margin-bottom: 4rem;
}

/* Buttons */

.btn {
	background: transparent;
	border: none;
	cursor: pointer;
}

.btn:focus h2 {
	font-weight: 700;
}

